/* Universal */
body {
    font-family: 'Inter', sans-serif;
    width: 550px;
    margin: 0 auto;
    color: #2B283A;
}

/* Navbar */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: #F55A5A;
    margin-bottom: 50px;
}

.globe-icon {
    width: 24px;
    color: #FFFFFF;
}

.navbar-text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14.46px;
}

/* Card */
.travelcard-container {
    padding: 0px 40px 15px;
}

.row-container {
    display: flex;
}

.card-image {
    width: 125px;
    height: 168px;
    object-fit: cover;
}

.text-container {
    padding-left: 19px;
    height: 168px;
}

.location-section {
    display: flex;
    align-items: center;
}

.marker-icon {
    color: #F55A5A;
}

.location-section h3 {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12.369px;
    padding-left: 4px;
}

.google-link {
    font-weight: 400;
    font-size: 10.24px;
    padding-left: 12px;
    display: flex;
    padding-bottom: 1px;
}

.google-link a {
    color: #918E9B;
}

.location-text {
    font-weight: 700;
    font-size: 25px;
}

.date-range {
    font-weight: 700;
    font-size: 10.24px;
}

.description-text {
    font-weight: 400;
    font-size: 10.24px;
}

.horizontal-rule {
    margin-top: 21px;
}